<div class="page-header">
    <h1>
        Cliente <small>Pesquisar</small>
    </h1>
</div>

<div class="btn-group">
    <button class="btn btn-primary" type="button">
        <em class="glyphicon glyphicon-search"></em> Pesquisar
    </button> 
    <button class="btn btn-default" type="button">
        <em class="glyphicon glyphicon-erase"></em> Limpar
    </button> 
    <button class="btn btn-default" type="button">
        <em class="glyphicon glyphicon-plus"></em> Novo
    </button> 
</div>

<br /><br /><br />

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="codigo" class="col-sm-2 control-label">
            Código
        </label>
        <div class="col-sm-10">
            <input class="form-control" id="codigo" type="number" />
        </div>
    </div>

    <div class="form-group">
        <label for="nome" class="col-sm-2 control-label">
            Nome
        </label>
        <div class="col-sm-10">
            <input class="form-control" id="nome" type="text" />
        </div>
    </div>
</form>
